@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Quicksand:wght@300..700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'quicksand';
    font-weight: 600;
}

body {
    background-image: url(/img/background.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mainContainer {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.serverHandler {
    width: 8vh;
    height: 8vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-left: 1.2vw;
    margin-top: 2vh;
}

.addServerHandler {
    width: 8vh;
    height: 8vh;
    border: 2px solid lightblue;
    border-radius: 50%;
    margin-left: 1.2vw;
    margin-top: 2vh;
    line-height: 7vh;
    text-align: center;
    color: lightblue;
    font-size: 5vh;
    font-weight: 100;
    font-family: 'Gill Sans';
}

.hidden {
    display: none;
}

.serverName {
    line-height: 4vh;
    color: white;
    font-size: 12px;
    text-align: center;
    width: 5vw;
    position: absolute;
    background-color: rgba(4, 55, 72, 0.5);
    border-radius: 1vw;
    left: 5vw;
    z-index: 2;
    display: none;
}

.serversContainer {
    position: absolute;
    height: 95vh;
    background-color: rgba(4, 55, 72, 0.5);
    width: 6vw;
    top: 3vh;
    left: 1vw;
    border-radius: 1vw;
}

.active {
    animation: border 0.5s forwards;
}

@keyframes border {
    from {
        border: 1px solid black;
    }
    to {
        border: white 1px solid;
    }
}

.topBar {
    width: 100vw;
    color: white;
    height: 3vh;
    padding-left: 1vw;
}

.topBar>span {
    font-family: "Audiowide", sans-serif;
}


/* CHANNELS */

.channelsContainer {
    width: 20vw;
    height: 95vh;
    background-color: rgba(4, 55, 72, 0.5);
    position: absolute;
    top: 3vh;
    left: 8vw;
    border-radius: 1vw;
}

.channelHandler {
    width: 19vw;
    height: 5vh;
    display: flex;
    flex-wrap: wrap;
    color: white;
    background-color: rgb(34, 9, 42);
    margin-top: 1vh;
    margin-left: 0.5vw;
    border-radius: 0.5vh;
}

.channelChar {
    font-size: 4vh;
    opacity: 0.6;
    margin-left: 2vw;
    margin-right: 1vw;
}

.channelName {
    line-height: 5vh;
    margin-left: 1vw;
    font-family: "Audiowide", sans-serif;
    font-weight: 300;
}


/* CHAT */

.chat {
    width: 70vw;
    height: 88vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 29vw;
    top: 3vh;
    overflow-y: scroll;
    background-color: rgba(4, 55, 72, 0.5);
    border-radius: 1vw;
}

.chat::-webkit-scrollbar-track {
    background: rgba(4, 55, 72, 0.5);
}

.chat::-webkit-scrollbar-thumb {
    background: #23b5fe;
}

.chat ::-webkit-scrollbar {
    background: #05518b;
}

.newMessageContainer {
    width: 70vw;
    height: 3vw;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 29vw;
    bottom: 2vh;
}

.newMessageInput {
    width: 67vw;
    height: 3vw;
    background-color: rgba(4, 55, 72, 0.95);
    color: white;
    border: none;
    line-height: 3vw;
    text-align: center;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
}

.newMessageInput:focus {
    outline: none;
}

.newMessageSend {
    width: 3vw;
    height: 3vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: rgba(4, 55, 72, 0.95);
}

.messageContainer {
    width: 65vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2vh;
}

.messageAuthorAvatar {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background-color: lightblue;
    margin-left: 2vw;
}

.messageBox {
    width: 60vw;
    height: auto;
    margin-top: -5vh;
    margin-left: 5vw;
    border-radius: 1vh;
}

.messageAuthor {
    color: rgb(56, 169, 255);
    font-size: 2vh;
    margin-left: 1vw;
}

.messageDate {
    color: rgb(10, 73, 140);
    font-size: 2vh;
}

.messageContent {
    color: white;
    font-size: 2vh;
    margin-left: 1vw;
}