@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Quicksand:wght@300..700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'quicksand';
    font-weight: 600;
}

body {
    background-color: black;
}

.mainContainer {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.serverHandler {
    width: 8vh;
    height: 8vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-left: 1.5vw;
    margin-top: 2vh;
}

.serverName {
    line-height: 4vh;
    color: white;
    font-size: 12px;
    text-align: center;
    width: 5vw;
    position: absolute;
    background-color: rgb(8, 2, 10);
    border: rgb(225, 56, 255) 1px solid;
    border-radius: 1vw;
    left: 5vw;
    z-index: 2;
}

.serversContainer {
    height: 95vh;
    background-color: black;
    width: 7vw;
    border: 1px solid rgb(225, 56, 255);
    top: 3vh;
}

.active {
    animation: border 0.5s forwards;
}

@keyframes border {
    from {
        border: 1px solid black;
    }
    to {
        border: white 1px solid;
    }
}

.topBar {
    width: 100vw;
    background-color: black;
    color: white;
    height: 3vh;
    border-bottom: 1px solid rgb(225, 56, 255);
}

.topBar>span {
    font-family: "Audiowide", sans-serif;
}


/* CHANNELS */

.channelsContainer {
    width: 20vw;
    height: 95vh;
    background-color: black;
    position: absolute;
    top: 3vh;
    left: 7vw;
    border-right: 1px solid rgb(225, 56, 255);
    border-bottom: 1px solid rgb(225, 56, 255);
}

.channelHandler {
    width: 19vw;
    height: 5vh;
    display: flex;
    flex-wrap: wrap;
    color: white;
    background-color: rgb(34, 9, 42);
    margin-top: 1vh;
    margin-left: 0.5vw;
    border-radius: 0.5vh;
}

.channelHandler>span {
    font-size: 4vh;
    opacity: 0.6;
    margin-left: 2vw;
}

.channelHandler>p {
    line-height: 5vh;
    margin-left: 1vw;
}


/* CHAT */

.chat {
    width: 73vw;
    height: 90vh;
    background-image: url(/img/bck2.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 27vw;
    top: 3vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.newMessageContainer {
    width: 73vw;
    height: 3vw;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 27vw;
    bottom: 2vh;
    border-top: 1px solid rgb(225, 56, 255);
    background-color: rgb(8, 2, 10);
}

.newMessageInput {
    width: 69.5vw;
    height: 3vw;
    background-color: rgb(8, 2, 10);
    color: white;
    border: none;
    line-height: 3vw;
    text-align: center;
}

.newMessageInput:focus {
    outline: none;
}

.newMessageSend {
    width: 3vw;
    height: 3vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: rgb(8, 2, 10);
}

.messageContainer {
    width: 65vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2vh;
}

.messageAuthorAvatar {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background-color: red;
    margin-left: 2vw;
}

.messageBox {
    width: 60vw;
    height: auto;
    margin-top: -5vh;
    margin-left: 5vw;
    background-color: rgba(34, 9, 42, 0.95);
    border-radius: 1vh;
}

.messageAuthor {
    color: rgb(225, 56, 255);
    font-size: 2vh;
    margin-left: 1vw;
}

.messageDate {
    color: rgb(71, 20, 87);
    font-size: 2vh;
}

.messageContent {
    color: white;
    font-size: 2vh;
    margin-left: 1vw;
}